@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+Rounded+1c&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #e5eaf5
}

body {

    background: #494D5F;
}



.header {
    display: flex;
}

a.highscores {
    flex: 1;
    color: #a0d2eb;
    font-size: 18px;
    text-decoration: none;
}

.timer {

    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #a0d2eb;
    font-size: 18px;

}

.time-text,
.timer-sec {
    color: #a0d2eb
}


#start {
    display: flex;
    flex-direction: column;
}

.start-bttn,
button {
    position: absolute;
    font-size: larger;
    color: #e5eaf5;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #8458B3;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 5px 0 rgba(0, 0, 0, .5),
        0 8px 5px 0 rgba(0, 0, 0, 0.3);
}

.submitBtn {
    text-align: center;
}

.restart,
.viewScores {
    font-size: 20px;
    font-weight: 500;
    color: #e5eaf5;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #8458B3;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
        0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    font-size: large;
    text-align: center;
    list-style-type: none;
}

h2{
    font-size: x-large;
    text-align: center;
    list-style-type: none;
    color: #d0bdf4;
    padding: 50px;
}

ul{
    list-style-type: none;   
}

ul li label {
    cursor: pointer;
}

button:hover {
    background-color: #04adc4;
}

button:focus {
    outline: none;
    background-color: #d024eb;
}


.welcome,
#question {
    font-size: x-large;
    text-align: center;
    color: #d0bdf4
}

.start-quiz,
#question {
    text-align: center;
    padding: 50px;
}
.quiz-main, 
.quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fname,
.restart{
    display: inline;
    position: absolute;
    color: #d0bdf4
}

.initials{ 
    color: #d0bdf4 
}

/* .quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
} */

#questions {
    text-align: center;
}


.hide {
    display: none;
}

